@model List<Event>
@{
    ViewData["Title"] = "timeIndex";
}
<style>
    #event {
        border-radius: 25px;
        border: 2px solid black;
        box-shadow: 5px 10px 8px 10px #888888;
        margin: 10px;
    }

    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar h2 {
            color: #818181;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
    }

        .openbtn:hover {
            background-color: #444;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
</style>
<h1>All Events</h1>

<div id="mySidebar" class="sidebar">
    <form asp-controller="" , asp-action="" , method="">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <h2>Month</h2>
        <select>
            @for (int i = 1; i <= 12; i++)
            {
                DateTime now = new DateTime(2010, @i, 1);
                string month = now.ToString("MMMM");
                <option value=@i>@month</option>
            }
        </select>
        <h2>Year</h2>
        <input type="number">
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Filter</button>
        <button asp-controller="Ticketing" asp-action="ticketIndex" asp-route-id=""
                class="btn btn-primary">
            Clear
        </button>
    </form>
</div>

<div id="main" class="col-sm-10">
    <button class="openbtn" onclick="openNav()">Sidebar</button>
    <a asp-controller="Time" asp-action="AddEvent"><b>Add new Event</b></a>

    <br />
    <div class="row">
        @foreach (var e in Model)
        {
            <div id="event" class="col-md-3" style="background-color:">
                <p>@e.EventId</p>
                <p>@e.Name</p>
                <p>@e.Description</p>
                <p>From: @e.start</p>
                <p>To: @e.end</p>
                <a asp-controller="Time" asp-action="EditEvent" asp-route-id="@e.EventId" class="btn btn-primary">Edit</a>
                <a asp-controller="Time" asp-action="Delete" asp-route-id="@e.EventId" class="btn btn-primary">Delete</a>
                <br />
                <br />
            </div>
        }
    </div>
</div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
